body {
    background-color: #79bd8f;
    text-align: center;
}

.button {
  background-color: #ffff9d;
  color: green;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 40px;
  cursor: pointer;
}

.button1{border-radius: 40px;}
.button2{border-radius: 40px;}

