body {
    background-color: #79bd8f;
    text-align: center;
}

.button {
  background-color: #ffff9d;
  border: none;
  color: #beeb9f;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1{border-radius: 45%;}
.button2{border-radius: 45%;}

